@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Nunito:ital@1&family=Roboto+Condensed&family=Roboto+Mono&family=Roboto:ital,wght@1,100;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(175, 215, 228);
    background:linear-gradient(to right,rgb(216, 227, 230) rgb(156, 201, 211) );
    font-family: 'Montserrat', sans-serif;
    
}

header{
    margin-bottom: 12px;
    font-family: 'Montserrat', sans-serif;
}
nav{
    background: rgb(68, 21, 68);
    box-shadow: 22px rgb(59, 57, 59);
    color: aliceblue;
    z-index: 99;
    box-shadow: 32px 0 18px 0 rgb(16, 15, 15);
    padding-left: 2%;
    
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    border-radius: 50%;
    margin: 12px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.container{
    background-color:white ;
    border-radius: 20px;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 50%;
    box-shadow: 13px 0 14px 0 rgb(76, 21, 128) ;
}
/* .container p{
    text-align:center;
    letter-spacing: 0.3px;
    line-height: 20px;
    font-size: 14px;
    margin: 20px 0;
    position: relative;
} */
span{
    letter-spacing: 0.3px;
    font-weight: bold;
    margin: 10px;
}
.container h1{
    font-weight: 900px;
    text-align: center;
}
.container h2{
    font-weight: 900px;
    text-align: center;
    margin-top: 9px;
}
.container a{
    cursor: pointer;
    text-decoration: none;
    color: rgb(66, 46, 106);
    font-weight: 900;
}
.container a:hover{
    color: #ffc107;
}
.container .required{
    padding: 1%;
    margin: 10px;
    width: 90%;
    border: none;
    background: rgb(201, 197, 197);
    border-radius: 5px;
    line-height: 22px;
    outline: none;
    box-shadow: 3px 2px 0 0 rgb(92, 89, 89) ;
}
.container .required:hover{
    width: 92%;
}
.container button{
    cursor: pointer;
    font-size: 15px;
    color: white;
    background-color: blueviolet;
    padding:1% 5%;
    border-radius: 7px;
    font-weight: 600px;
    border: transparent;
    text-transform: uppercase;
}
.container button:hover{
    opacity: 0.8;
}
.social-icons{
    display: flex;
    margin:10px;
}
.social-icons .icon{
    border: 1px solid transparent;
    box-shadow: 10px 0 8px 0;
    margin: 12px;
    padding: 2%;
    border-radius: 8px;
    font-size: 22px;
}
.container form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sub-container1{
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    padding: 0 32px;
}
.sub-container2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

















